html,
body,
div{border:0;margin:0;padding:0;}
#grad{background:#92c1dc;background:-webkit-linear-gradient(#92c1dc, #ffffff);background:-o-linear-gradient(#92c1dc, #ffffff);background:-moz-linear-gradient(#92c1dc, #ffffff);background:linear-gradient(#92c1dc, #ffffff);background-repeat:no-repeat;background-attachment:fixed;}
#header{border-radius:0px;padding-top:10px;padding-bottom:10px;background-color:#ffffff;color:#145f80;margin:0px;}
#footer{border-radius:0px;margin:0px;}
.navbar-toggle.navbar-left{float:left;margin-left:10px;}
.navbar-form.navbar-right{float:right;margin-right:10px;}
#row2 h3{color:white;padding:5px;position:relative;left:25px;}
#row2{background:#383838;background:-webkit-linear-gradient(#383838,#282828);background:-o-linear-gradient(#383838,#282828);background:-moz-linear-gradient(#383838,#282828);background:linear-gradient(#383838,#282828);background:linear-gradient(#383838,#282828);background-repeat:no-repeat;background-attachment:fixed;margin-left:0;margin-right:0;}
#row3{background:#b3edff;height:50px;margin-left:0;margin-right:0;}
#row2 ul{list-style:none;}
#row2 li{padding:5px;}
#row2 li a{color:white;}
#row2 li a:hover{color:grey;font-size:larger;text-decoration:none;}
.nav > li > a:hover{background-color:#92c1dc;color:#0f0f0f;}
.nav > li > a{font-size:18px; font-weight:bold;}
.nav > li > ul{background-color:#9acfea;opacity:.85;}
.nav > li > ul> li>a:hover{background-color:#ADD8E6;}
.active{background-color:#92c1dc;color:#0f0f0f;}
.nav.navbar-nav>li.dropdown>a:focus{background-color:#92c1dc;color:#0f0f0f;}
.navbar1 .dropdown:hover .dropdown-menu{display:block;margin-top:0;}
