{% extends "layout.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%  static 'css/liststyles.css' %}">
<script src="{% static 'scripts/faculty_script.js'  %}"></script>

<div class="main">
   <h3 id="title" class="text-center">Faculty</h3>
    <script>var i=0;</script>
   {% for f in faculty %}
       <script> i=i+1;</script>
     <div class="faculty-info">
         <div class="row">
            <img class="img img-responsive col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 profile"  src="{% static f.get_image_path %}">
             <div class="col-md-4 col-xs-4">
                 <h4 class="fac-name"><a href="{{f.profile_link}}" target="_blank">{{f.name}}</a></h4>
                 <h5 class="fac-designation"><strong>{{f.designation}}</strong><br>
                      {% if f.additional_info != None %}
                          {{f.additional_info}}
                      {% endif %}
                  </h5>
                <p class="contact-info">Email: {{f.email}}<br>Phone: {{f.phone}}</p>
                <script>
                    document.write('<button class="btn btn-info btn-xs prof-btn info-btn" id=info'+i+'>More info</button>');
                </script>
                 <a href="{{f.profile_link}}" target="_blank"><button class="btn btn-primary btn-xs prof-btn">View Profile</button></a>
            </div>


                <div class="col-md-5 col-xs-10 research-areas hidden">

                {% if f.research_areas != None %}
                    <h4><strong>Research Areas</strong></h4>
                    <p >{{ f.research_areas }}</p>
                {% else %}
                    <p>No more info to show</p>
                {% endif %}

            </div>

         </div>
     </div>
       <hr>

   {% endfor %}
</div>
{% endblock %}
