{% extends "layout.html" %}

{% block content %}
{% load static %}
   <div class="container">
       <h3 id="title">Faculty</h3>
       {% for f in faculty %}

         <div class="faculty-info">
            <img src="{% static 'UserImages/Faculty/amitkr@iitp.ac.in/Amit Kumar.jpg' %}">
             <h4><a href="{{f.profile_link}}">{{f.name}}</a></h4>
            <h5>{{f.designation}}</h5>
            <h5>{{f.additional_info}}</h5>
            <p>Email: {{f.email}}<br>Phone: {{f.phone}}</p>

         </div>

       {% endfor %}
   </div>


{% endblock %}
