{% extends "layout.html" %}

{% block title %}
<title>{{ faculty.name }} | Department of Chemistry | IIT Patna</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
  .main{
      background-color: white;
      margin-top: 10px;
  }
  #head-pic {
    border-radius: 5px;
    float: left;
    margin: 0 10px 10px 0;
  }
  .jumbotron p {
    font-size:17px;
  }
  .borderless td, .borderless th {
      border: none;
  }
  .table>tbody>tr>td {
    border:0;
  }
</style>
<div class="main" style="overflow-x:auto;">
  <div style="height:20px;"></div>
  <!-- Table -->
  <table class="table table-responsive borderless" style="width:90%; margin:0 auto;">
    <col width="15%">
    <col width="85%">
    <tbody>
      <tr>
        <td><img class="img img-responsive" id="head-pic" src="{% static faculty.get_image_path %}" alt="{{ faculty.name }}" width="120px" height="auto">
        </td>
        <td><strong>{{ faculty.name }}</strong><br>
          {{ faculty.designation }}<br>
          {{faculty.phd}}<br>
          Ph : +91-612-302-{{faculty.phone}}<br>
          {% if faculty.fax != None %}Fax : {{faculty.fax}}<br>{% endif %}
          {{faculty.email}}[AT]iitp.ac.in<br>
          <a href="{{faculty.google_scholar}}" target="_blank">Google Scholar Link</a>
          <!-- <a href="https://www.facebook.com/iitp.ac.in/" style="float:right;"><i class="fa fa-facebook"></i></a> -->
        </td>
      </tr>
      <tr>
        <td><strong>Research Areas</strong></td>
        <td>{{ faculty.research_areas|safe|linebreaks }}</td>
      </tr>

      {% if faculty.professional_experience != None %}
      <tr>
        <td><strong>Professional Experience</strong></td>
        <td>{{ faculty.professional_experience|safe|linebreaks }}</td>
      </tr>
      {% endif %}

      {% if faculty.awards_honors != None %}
      <tr>
        <td><strong>Awards and Honours</strong></td>
        <td>{{ faculty.awards_honors|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.sponsored_projects != None %}
      <tr>
        <td><strong>Sponsored Projects</strong></td>
        <td>{{ faculty.sponsored_projects|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.teaching != None %}
      <tr>
        <td><strong>Teaching</strong></td>
        <td>{{ faculty.teaching|safe|linebreaks }}</td>
      </tr>
      {% endif %}

      {% if faculty.patents != None %}
      <tr>
        <td><strong>Patents</strong></td>
        <td>{{ faculty.patents|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.publications != None %}
      <tr>
        <td><strong>Selected Publications</strong></td>
        <td>{{ faculty.publications|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.conference_attended != None %}
      <tr>
        <td><strong>Conference Attended</strong></td>
        <td>{{ faculty.conference_attended|safe }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div style="height:10px;"></div>
{% endblock %}
