{% extends "layout.html" %}

{% block title %}
<title>{{ faculty.name }} | Department of Chemistry | IIT Patna</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
  .main{
      background-color: white;
      margin-top: 10px;
  }
  /*.nav-tabs>li>a {
     margin-right: 0;
     border: 0 solid transparent;
     border-radius: 0;
  }
  .tab-pane{
      background-color: white;
      padding-bottom: 20px;
      margin-bottom: 10px;
  }*/
  #head-pic {
    border-radius: 5px;
    float: left;
    margin: 0 10px 10px 0;
  }
  .jumbotron p {
    font-size:17px;
  }
  .borderless td, .borderless th {
      border: none;
  }
  .area-title{
      font-size: 20px;
  }
  .area-detail{
      padding-bottom: 10px;
  }
  .table>tbody>tr>td {
    border:0;
  }
</style>
<div class="main" style="overflow-x:auto;">
  <div style="height:20px;"></div>
  <!-- Table -->
  <table class="table table-responsive borderless" style="width:90%; margin:0 auto;">
    <col width="15%">
    <col width="85%">
    <tbody>
      <tr>
        <td><img class="img img-responsive" id="head-pic" src="{% static faculty.get_image_path %}" alt="{{ faculty.name }}" width="120px" height="auto">
        </td>
        <td style="padding-left:30px;"><strong>{{ faculty.name }}</strong><br>
          {{ faculty.designation }}<br>
          {{faculty.phd}}<br>
          Ph : +91-612-302-{{faculty.directory.phone}}<br>
          {% if faculty.fax %}Fax : {{faculty.fax}}<br>{% endif %}
          {{faculty.directory.email}}[AT]iitp.ac.in<br>
          {% if faculty.google_scholar %}
            <a href="{{faculty.google_scholar}}" target="_blank">Google Scholar Link</a><br>
          {% endif %}
          {% if faculty.webpage %}
            <a href="{{faculty.webpage}}" target="_blank">Webpage</a><br>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td><strong>Research Areas</strong></td>
        <td style="padding-left:30px;">{{ faculty.research_areas|safe|linebreaks }}</td>
      </tr>

      {% if faculty.current_research.all %}
      <tr>
        <td><strong>Current Research</strong></td>
        <!-- <td>{{ faculty.current_research|safe }}</td> -->
        <td>
          {% for research in faculty.current_research.all %}
            <div class="research-area" style="margin-top:20px;">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <figure>
                  <img class="img-responsive area-pic" src="{% static research.get_image_url %}">
                    <figcaption class="area-pic-title" style="color: #00aced">{{ research.picture_text }}</figcaption>
                  </figure>
                </div>
                <div class="col-md-6" style="padding-left: 20px;">
                  <h5 class="area-title"><strong>{{ research.title }}</strong></h5>
                  <p class="area-detail">{{ research.detail }}</p>
                </div>
              </div>
            </div>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endif %}

      {% if currentphd %}

      <tr>
        <td><strong>Phd Students</strong></td>
        <td style="padding-left:30px;">
        <div class="row">
          {% for student in currentphd %}
                <div class="col-md-3" style="padding-bottom: 20px;">
                  <figure>
                  <img class="img-responsive" src="{% static student.get_image_path %}" style="width:120px;height:100px;">
                    <figcaption  style="color: #00aced;padding-top: 5px">{{ student.name }}</figcaption>
                  </figure>
                </div>
          {% endfor %}
        </div>
        </td>
      </tr>

      {% endif %}

      <!--{% if faculty.phd_students %}
      <tr>
        <td><strong>PhD Students</strong></td>
        <td style="padding-left:30px;">{{ faculty.phd_students|safe|linebreaks }}</td>
      </tr>
      {% endif %}
        -->

      {% if faculty.research_group %}
      <tr>
        <td><strong>Research Group</strong></td>
        <td style="padding-left:30px;">{{ faculty.research_group|safe|linebreaks }}</td>
      </tr>
      {% endif %}

      {% if faculty.former_research_group %}
      <tr>
        <td><strong>Former Research Group</strong></td>
        <td style="padding-left:30px;">{{ faculty.former_research_group|safe|linebreaks }}</td>
      </tr>
      {% endif %}

      {% if faculty.professional_experience %}
      <tr>
        <td><strong>Professional Experience</strong></td>
        <td>{{ faculty.professional_experience|safe|linebreaks }}</td>
      </tr>
      {% endif %}

      {% if faculty.awards_honors %}
      <tr>
        <td><strong>Awards and Honours</strong></td>
        <td>{{ faculty.awards_honors|safe }}</td>
      </tr>
      {% endif %}
      {% if faculty.member_of_professional_bodies %}
      <tr>
        <td><strong>Member Of Professional Bodies</strong></td>
        <td>{{ faculty.member_of_professional_bodies|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.sponsored_projects %}
      <tr>
        <td><strong>Sponsored Projects</strong></td>
        <td style="padding-left:30px;">{{ faculty.sponsored_projects|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.teaching %}
      <tr>
        <td><strong>Teaching</strong></td>
        <td>{{ faculty.teaching|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.patents %}
      <tr>
        <td><strong>Patents</strong></td>
        <td>{{ faculty.patents|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.publications %}
      <tr>
        <!-- <ul class="nav nav-tabs" >
          <li class="active"><a data-toggle="tab" href="#2017">2017</a></li>
          <li><a data-toggle="tab" href="#2016">2016</a></li>
          <li><a data-toggle="tab" href="#2015">2015</a></li>
          <li><a data-toggle="tab" href="#2014">2014</a></li>
          <li><a data-toggle="tab" href="#2013">2013</a></li>
          <li><a data-toggle="tab" href="#2012">2012</a></li>
          <li><a data-toggle="tab" href="#2011">2011</a></li>
        </ul>

        <div class="tab-content">
          <div id="2017" class="tab-pane fade">
            jsdalkjflk
          </div>
        </div> -->
        <td><strong>Selected Publications</strong></td>
        <td>{{ faculty.publications|safe }}</td>
      </tr>

      {% endif %}

      {% if faculty.conference_presentations %}
      <tr>
        <td><strong>Presentations</strong></td>
        <td>{{ faculty.conference_presentations|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.conference_attended %}
      <tr>
        <td><strong>Conference Attended</strong></td>
        <td>{{ faculty.conference_attended|safe }}</td>
      </tr>
      {% endif %}

      {% if faculty.invited_talks %}
      <tr>
        <td><strong>Invited Talks</strong></td>
        <td>{{ faculty.invited_talks|safe }}</td>
      </tr>
      {% endif %}


    </tbody>
  </table>
</div>
<div style="height:10px;"></div>
{% endblock %}
