{% extends "layout.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{%  static 'css/liststyles.css' %}">
<link rel="stylesheet" href="{% static 'css/studentstyle.css' %}">

<div class="main">

    <h4 class="text-center" style="padding: 10px;font-size: 30px">M.Sc. Students</h4>
    <p class="text-center" style="font-size: 20px;">Please append Email with "@iitp.ac.in" .</p>
    <ul class="nav nav-tabs" style="margin-top: 10px;">
        <li class="active student-tab"><a data-toggle="tab" href="#msc16">M.Sc. 2016</a></li>
    </ul>

    <div class="tab-content">
        <div id="btech16" class="tab-pane fade in active">
            <!-- Content goes here. Similar to faculty -->

            {% for student in students16 %}

                <div class="student-info">
                    <div class="row">
                        <img class="img img-responsive col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 profile"  src="{% static student.get_image_path %}" style="margin-top: 13px;">
                        <div class="col-md-4 col-xs-5">
                            <h4 class="name"><a>{{student.name}}</a></h4>
                            <p class="designation">Roll No.: {{student.rollno}}<br>
                                Email: {{student.email}}</p>
                        </div>
                    </div>
                {% if not forloop.last %}<hr>{% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}