{% extends "layout.html" %}

{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/studentstyle.css' %}">

    <div class="main">
    <h4 class="text-center" style="padding: 10px;font-size: 30px">UG Students</h4>

    <ul class="nav nav-tabs" data-tabs="tabs" style="margin-top: 10px;">
        <li class="active student-tab"><a data-toggle="tab" href="#btech16">B.Tech 2016</a></li>
        <li class="student-tab"><a data-toggle="tab" href="#btech15">B.Tech 2015</a></li>
        <li class="student-tab"><a data-toggle="tab" href="#btech14">B.Tech 2014</a></li>
        <li class="student-tab"><a data-toggle="tab" href="#btech13">B.Tech 2013</a></li>
    </ul>

    <div class="tab-content">

        <div id="btech16" class="tab-pane fade in active">
            <table class="table table-hover text-centered table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students16 %}


                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.rollno }}</td>
                            </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="btech15" class="tab-pane fade in">
            <table class="table table-hover text-centered table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students15 %}


                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.rollno }}</td>
                            </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="btech14" class="tab-pane fade in">
            <table class="table table-hover text-centered table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students14 %}


                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.rollno }}</td>
                            </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="btech13" class="tab-pane fade in">
            <table class="table table-hover text-centered table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students13 %}


                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.rollno }}</td>
                            </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    </div>


{% endblock %}
