{% extends "layout.html" %}

{% block title %}
<title>Directory | Department of Chemistry | IIT Patna</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="panel panel-default" style="margin: 10px 0 10px 0;">
  <div class="panel-heading">Faculty</div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Phone extension</th>
        <th>E-mail ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amit Kumar</td>
        <td>Assistant Professor</td>
        <td>8124</td>
        <td>amitkt</td>
      </tr>
      <tr>
        <td>Debabrata Seth</td>
        <td>Associate Professor</td>
        <td>8028</td>
        <td>debabrata</td>
      </tr>
      <tr>
        <td>Md. L. H. Choudhary</td>
        <td>Associate Professor</td>
        <td>8038</td>
        <td>lokman</td>
      </tr>
      <tr>
        <td>Neeladri Das</td>
        <td>Associate Professor</td>
        <td>8023</td>
        <td>neeladri</td>
      </tr>
      <tr>
        <td>Prolay Das</td>
        <td>Associate Professor</td>
        <td>8057</td>
        <td>prolay</td>
      </tr>
      <tr>
        <td>Ranganathan Subramanian</td>
        <td>Associate Professor</td>
        <td>8094</td>
        <td>ranga</td>
      </tr>
      <tr>
        <td>Sahid Hussain</td>
        <td>Associate Professor</td>
        <td>8022</td>
        <td>sahid</td>
      </tr>
      <tr>
        <td>T. Rajagopala Rao</td>
        <td>Assistant Professor</td>
        <td>8238</td>
        <td>rajgopal</td>
      </tr>
      <tr>
        <td>Snehasis Daschakraborty</td>
        <td>Assistant Professor</td>
        <td>8675</td>
        <td>snehasis</td>
      </tr>
      <tr>
        <td>Debajit Sarma</td>
        <td>Assistant Professor</td>
        <td>8677</td>
        <td>debajit</td>
      </tr>
      <tr>
        <td>Subrata Chattopadhyay</td>
        <td>Assistant Professor</td>
        <td>8676</td>
        <td>sch</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="panel panel-default" style="margin: 10px 0 10px 0;">
  <div class="panel-heading">Staff</div>
  <table class="table table-responsive">
    <thead>
      <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Phone extension</th>
      <th>E-mail ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Antara Garai</td>
        <td>Scientific Officer</td>
        <td>8172</td>
        <td>antara</td>
      </tr>
      <tr>
        <td>Aziz Ahmad</td>
        <td>Junior Technical Superintendent</td>
        <td>8216,8218<br></td>
        <td>azizahmed</td>
      </tr>
      <tr>
        <td>Gudipati Srinivasarao</td>
        <td>Junior Technical Superintendent</td>
        <td>9963976237</td>
        <td>gudipati</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default" style="margin: 10px 0 10px 0;">
  <div class="panel-heading">Laboratory &amp; Offices</div>
    <table class="table table-responsive">
    <thead>
      <tr>
        <th>Laboratory &amp; Offices</th>
        <th>Phone extension</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HOD Office<br></td>
        <td>8225</td>
      </tr>
      <tr>
        <td>Conference Room</td>
        <td>8227</td>
      </tr>
      <tr>
        <td>1st Year B. Tech Lab </td>
        <td>8070</td>
      </tr>
      <tr>
        <td>Department Office </td>
        <td>8073</td>
      </tr>
      <tr>
        <td>Chemistry Instrument Room</td>
        <td>8119</td>
      </tr>
      <tr>
        <td>CST Lab 1</td>
        <td>8215</td>
      </tr>
      <tr>
        <td>CST Lab 2</td>
        <td>8216</td>
      </tr>
      <tr>
        <td>PG Lab 1</td>
        <td>8217</td>
      </tr>
      <tr>
        <td>PG Lab 2</td>
        <td>8218</td>
      </tr>
      <tr>
        <td>Project Lab</td>
        <td>8219</td>
      </tr>
      <tr>
        <td>NMR Room -1</td>
        <td>8220</td>
      </tr>
      <tr>
        <td>NMR Room - 2</td>
        <td>8221</td>
      </tr>
      <tr>
        <td>Chemistry Instrument Room 1</td>
        <td>8222</td>
      </tr>
      <tr>
        <td>Store Room</td>
        <td>8223</td>
      </tr>
      <tr>
        <td>Glyco Chemistry Lab</td>
        <td>8228</td>
      </tr>
      <tr>
        <td>Green Synthesis Lab</td>
        <td>8229</td>
      </tr>
      <tr>
        <td>Theoretical Chemistry Lab</td>
        <td>8230</td>
      </tr>
      <tr>
        <td>Gas Phase and Computational Lab</td>
        <td>8231</td>
      </tr>
      <tr>
        <td>Organometallics Lab</td>
        <td>8232</td>
      </tr>
      <tr>
        <td>Supramolecular Synthesis Lab</td>
        <td>8233</td>
      </tr>
      <tr>
        <td>Catalysis Lab</td>
        <td>8234</td>
      </tr>
      <tr>
        <td>Biochemistry and Molecular Biology Lab</td>
        <td>8235</td>
      </tr>
      <tr>
        <td>Ultrafast Spectroscopy Lab</td>
        <td>8236</td>
      </tr>
      <tr>
        <td>Departmental Library</td>
        <td>8237</td>
      </tr>
      <tr>
        <td>Chemistry Instrument Room - 2</td>
        <td>8238</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
