<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Chemical Engineering | IIT Patna</title>
  	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	{% load staticfiles %}
  	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
  	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
  	<style type="text/css">
      html,
      body,
      div {
        border: 0;
        margin: 0;
        padding: 0;
  		}
      #grad {
        background: #92c1dc; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#92c1dc, #ffffff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#92c1dc, #ffffff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#92c1dc, #ffffff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#92c1dc, #ffffff); /* Standard syntax */
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
  	</style>
  </head>
<body class="body" id="grad">
  <div class="container" id="header">
    <div class="jumbotron" style="border-radius:0px; background-color:#ffffff; color:#145f80; margin:0px;">
      <div class="row">
        <div id="logo" class="col-lg-2 col-sm-2" align="center">
          <a href="http://www.iitp.ac.in">
            <img src="static/images/iitp-logo.jpg" alt="IIT Patna LOGO" width="100px" height="100px">
          </a>
        </div>
        <div class="col-lg-9 col-sm-10" align="center">
          <h2>DEPARTMENT OF CHEMICAL ENGINEERING</h2>
          <h3>INDIAN INSTITUTE OF TECHNOLOGY PATNA</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <div class="container">
    <nav class="navbar navbar-default" style="border-radius: 0px; color: #ffffff;">
      <div class="container-fluid">
        <!-- Search Bar -->
        <div class="navbar-form navbar-right" style="border: none;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
          </div>
        </div>
        <!-- Toggle navbar for mobile devices -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
            <!-- People -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Faculty</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Students</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Staff</a></li>
              </ul>
            </li>
            <!-- Academics -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
            <!-- Research -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
            <!-- Admissions -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
            <!-- Facilities -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facilities <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
            <!-- Seminars -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seminars <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
            <!-- Directory -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directory <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Program 1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Program 2</a></li>
              </ul>
            </li>
          </ul>
        </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <div class='container-fluid'>
     {% block content %}
     {% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>

</html>
