{% extends "layout.html" %}

{% block title %}
<title>Head's Message | Chemical Engineering | IIT Patna</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
  .main{
      background-color: white;
      margin-top: 10px;
  }
  #head-pic {
    border-radius: 5px;
    float: left;
    margin: 0 10px 10px 0;
  }
  .jumbotron p {
    font-size:17px;
  }
</style>
<div class="main">
  <div class="jumbotron" style="margin-bottom: 10px; background-color:white;">
    <h3>Head's Profile</h3>
    <img class="img img-responsive" id="head-pic" src="{% static headsdesk.0.get_image_url %}" alt="Head's Profile Picture" width="150px" height="auto">
    <div>
      {{ headsdesk.0.profile|linebreaks }}
    </div>
  </div>
</div>
{% endblock %}
