{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}
<div style="height: 10px"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" style="margin-bottom: -15px;">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" align="center">
      <img src="static/images/carousel/1.jpg" alt="Chania">
    </div>

    <div class="item" align="center">
      <img src="static/images/carousel/2.jpg" alt="Chicago">
    </div>

    <div class="item" align="center">
      <img src="static/images/carousel/3.jpg" alt="New York">
    </div>

    <div class="item" align="center">
      <img src="static/images/carousel/4.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 80px">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 80px">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row" style="margin: 0;">
  <!-- Left side bar -->
  <div class="col-lg-3 col-md-3 visible-lg-block visible-md-block" style="padding:0 10px 0 0;">
    <div style="background-color: #81d4fa; color: #01579b; height:410px;">
      <h4 style="padding: 10px 0 0 10px">Notice Board</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <ul style="height: 316px; overflow:auto;">
        {% for note in notice %}
        <li><b>{{note.title}}</b>{% if note.body != None %}<br>{{note.body}}{% endif %}<h6>(Posted on : {{note.date|date:"d-m-Y"}})</h6></li>
        {% endfor %}
      </ul>
      <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <a href="/notice"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="margin: 0 0 10px 10px;"></a>
    </div>
  </div>
  <!-- middle bar -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
    <div style="background-color: #81d4fa; color: #01579b; height:200px; position: relative;">
      <h4 style="padding: 10px 0 0 10px">News</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <ul>
        {% for n in news %}
        <li><a target="_blank" href="{{ n.link }}">{{ n.title }}</a> - {{ n.date|date:"d-m-Y" }}</li>
        {% endfor %}
      </ul>
      <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <a href="/news"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="position:absolute; left:10px; bottom: 10px;"></a>
    </div>
    <div class="row" style="margin: 0; padding: 0;">
      <div class="col-sm-6 col-xs-6 visible-sm-block visible-xs-block" style="padding:0;">
        <div style="background-color: #81d4fa; color: #01579b; height:300px;">
          <h4 style="padding: 10px 0 0 10px">Notice Board</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
          <ul style="height: 206px; overflow:auto;">
            {% for note in notice %}
            <li><b>{{note.title}}</b>{% if note.body != None %}<br>{{note.body}}{% endif %}<h6>(Posted on : {{note.date|date:"d-m-Y"}})</h6></li>
            {% endfor %}
          </ul>
          <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
          <a href="/notice"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="margin: 0 0 10px 10px;"></a>
        </div>
      </div>

      <div class="col-sm-6 col-xs-6 visible-sm-block visible-xs-block" style="padding:0 0 0 10px;">
        <div style="background-color: #81d4fa; color: #01579b; height:300px;">
          <h4 style="padding: 10px 0 0 10px">Events</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
          <ul style="height: 206px; overflow:auto;">
            {% for event in events %}
            <li><a target="_blank" href="{{ event.link }}">{{ event.title }}</a> - {{ event.date|date:"d-m-Y" }}</li>
            {% endfor %}
          </ul>
          <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
          <a href="{% url 'events' %}"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="margin: 0 0 10px 10px;"></a>
        </div>
      </div>
    </div>
    <div style="background-color: #81d4fa; color: #01579b; height:200px;">
      <h4 style="padding: 10px 0 0 10px">Research Highlights</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <ul>
        {% for r in research %}
        <li><a target="_blank" href="{{ r.link }}">{{ r.title }}</a> - {{ r.date|date:"d-m-Y" }}</li>
        {% endfor %}
      </ul>
      <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <a href="/research"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="margin: 0 0 10px 10px;"></a>
    </div>
  </div>
  <!-- Right side bar -->
  <div class="col-lg-3 col-md-3 visible-lg-block visible-md-block" style="padding:0 0 0 10px;">
    <div style="background-color: #81d4fa; color: #01579b;">
      <h4 style="padding: 10px 0 0 10px;">Events</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <ul>
        {% for event in events %}
        <li><a target="_blank" href="{{ event.link }}">{{ event.title }}</a> - {{ event.date|date:"d-m-Y" }}</li>
        {% endfor %}
      </ul>
      <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <a href="{% url 'events' %}"><img src="{% static 'images/view_all.gif' %}" alt="view all" style="margin: 0 0 10px 10px;"></a>
    </div>
    <div style="background-color: #81d4fa; color: #01579b;">
      <h4 style="padding: 10px 0 0 10px;">Quick Links</h4><hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <ul>
        {% for link in quicklinks %}
        <li><a target="_blank" href="{{ link.link }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <hr style="margin: 0 10px 10px 10px; border-color:#337ab7; background-color: #337ab7;">
      <div style="height: 10px"></div>
    </div>
  </div>
</div> <!-- Row container ends here -->
<div style="height: 10px"></div>
{% endblock %}
