<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    {% endblock %}
  	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="description" content="The official website for the Chemistry Department of IIT Patna.">
  	{% load staticfiles %}
      <style>
        * {font-family: "Times New Roman", Times, serif;font-size: 16px;}
        .ffse-ov0-ifd {z-index: 1000;}
        #iitp-logo{padding-top: 10px;}
        @media (max-width:880px){#iitp-logo{display: none;}}
        /*#google_translate_element {
            right: 0;
            position: absolute;
        }
        #google-translate {
          z-index: 1001px;
        }*/
      </style>
      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- FreeFind search result overlay -->
      <script src="{% static 'js/ffse-overlay.min.js' %}"></script>
      <script src="{% static 'js/layout_script.js' %}"></script>
    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
      <link rel="stylesheet" href="{%  static 'css/footer_style.css' %}" type = "text/css">
      <link rel="stylesheet" href="{%  static 'css/header_style.css' %}" type = "text/css">
      <!--Animate.css-->
      <link rel="stylesheet" href="{%  static 'css/animate.css' %}" type = "text/css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{%  static 'css/font-awesome.min.css' %}" type = "text/css">
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
      <!-- Google Analytics Script -->
      <!-- <script async>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102347688-1', 'auto');
        ga('send', 'pageview');
      </script> -->
  </head>
<body class="body" id="grad">
  <!-- <div id="google-translate">
  <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT, gaTrack: true, gaId: 'UA-102347688-1'}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div> -->
  <!-- Header -->
  <div class="container" vertical-align="center">
    <div class="jumbotron-fluid" id="header">
      <div class="row">
        <div id="logo" class="col-lg-3 col-sm-2" align="center" style="padding-left: 20px;">
          <a target="_blank" href="http://www.iitp.ac.in">
            <img src="{% static 'images/iitp-logo.png' %}" alt="IIT Patna LOGO" width="110px" height="110px">
          </a>
        </div>
        <div class="col-lg-7 col-sm-10 visible-lg-block" align="center">
          <h2>DEPARTMENT OF CHEMISTRY</h2>
          <h3>INDIAN INSTITUTE OF TECHNOLOGY PATNA</h3>
        </div>
        <div class="col-lg-7 col-sm-10 hidden-lg" align="center">
          <h3>DEPARTMENT OF CHEMISTRY</h3>
          <h4>INDIAN INSTITUTE OF TECHNOLOGY PATNA</h4>
        </div>
      </div><!-- row ends -->
    </div><!-- jumbotron ends -->
  </div><!-- container ends -->
  <div style="height:1px;"></div>
  <!-- Navbar -->
  <div class="container visible-lg-block visible-md-block visible-sm-block" style="position: relative; height: 50px; z-index: 999;">
    <nav class="navbar navbar-light bg-info" style="border: 0px; border-radius:0; color: #ffffff;">
      <div class="container-fluid">
        <!-- Toggle navbar for mobile devices -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar1">
          <!-- Home -->
          <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'home' %}" id="home">Home<span class="sr-only">(current)</span></a></li>
          <!-- People -->
          <li class="dropdown" class="menu-item" style="margin-right:5px;">
            <a class="dropdown-toggle navigator" id="people" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'faculty_list' %}" id="faculty">Faculty</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'staff_list' %}" id="staff">Staff</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'undergraduate_list' %}" id="ug-students">UG Students</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'msc_list' %}" id="msc-students">M.Sc. Students</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'phd_list' %}" id="phd-students">Ph.D Students</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'phd_alumni_list' %}" id="phd-alumni">Ph.D Alumni</a></li>
            </ul>
          </li>
          <!-- Academics -->
          <li class="dropdown" style="margin-right:5px;">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="academics">Academics <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'btech_courses' %}">B.Tech.</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'msc_courses' %}">M.Sc.</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'phd_courses' %}">Ph.D.</a></li>
            </ul>
          </li>
          <!-- Research -->
          <li class="dropdown" style="margin-right:5px;">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="research">Research <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'areas' %}">Areas</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'publications' %}">Recent Publication</a></li>
            </ul>
          </li>
          <!-- Admissions -->
          <li class="dropdown" style="margin-right:5px;">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="admissions">Admissions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://jee.iitd.ac.in/" target="_blank">Undergraduate</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'postgraduate_admissions' %}">Postgraduate</a></li>
                <li role="separator" class="divider"></li>
              <li><a href="{% url 'doctoral_admissions' %}">Doctoral</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'faq_admissions' %}">FAQ</a></li>
            </ul>
          </li>
          <!-- Facilities -->
          <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'facilities' %}" id="facilities">Facilities<span class="sr-only">(current)</span></a></li>
          <!-- Events -->
          <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'events' %}" id="events">Events<span class="sr-only">(current)</span></a></li>
          <!-- Directory -->
          <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'directory' %}" id="directory">Directory<span class="sr-only">(current)</span></a></li>
          <li class="visible-sm-block">
             <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">
              <span id="searchGlyph" class="glyphicon glyphicon-search"></span> <span> Search</span>
            </a>
          </li>
            <!-- Search Bar -->
            <!-- <div class="navbar-form hidden-md" style="border: none; padding-right: 0px; margin-right: 0px; padding-left: 0px;">
              <form class="navbar-form navbar-left" style="margin:0;padding:0;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="query">
              		<input type="hidden" name="si" value="37493057">
              		<input type="hidden" name="pid" value="r">
              		<input type="hidden" name="n" value="0">
              		<input type="hidden" name="_charset_" value="">
              		<input type="hidden" name="bcd" value="&#247;">
                  <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
                </div>
              </form>
            </div> -->
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm" style="margin-right:5px;">
         <li>
           <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">
            <span id="searchGlyph" class="glyphicon glyphicon-search"></span> <span> Search</span>
          </a>
         </li>
       </ul>
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <!-- Navbar -->
  <div class="container visible-xs-block" style="position: relative; height: 52px; z-index: 999;">
    <nav class="navbar navbar-light bg-info" style="border-radius: 0px; color: #ffffff;">
      <div class="container-fluid">
        <!-- Toggle navbar for mobile devices -->
        <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left:0px;">
              <span class="icon-bar" style="background-color: #ffffff"></span>
              <span class="icon-bar" style="background-color: #ffffff"></span>
              <span class="icon-bar" style="background-color: #ffffff"></span>
        </button>
        <style>
        #search-btn {
            background-color: #285690;
            border: none;
            margin-top:10px;
          }
        </style>
         <a id="search-btn" href="#modalSearch" data-toggle="modal" data-target="#modalSearch" class="btn btn-info">
          <span id="searchGlyph" class="glyphicon glyphicon-search">  </span>
          <span class="hidden-sm hidden-md hidden-lg" style="font-family: Arial, Helvetica, sans-serif;">   Search</span>
        </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 0px;">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="menu-item"><a class="navigator" href="{% url 'home' %}" id="home">Home<span class="sr-only">(current)</span></a></li>
            <!-- People -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navigator" id="people" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'faculty_list' %}" id="faculty">Faculty</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'staff_list' %}" id="staff">Staff</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'undergraduate_list' %}" id="ug-students">UG Students</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'msc_list' %}" id="msc-students">M.Sc. Students</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'phd_list' %}" id="phd-students">Ph.D Students</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'phd_alumni_list' %}" id="phd-alumni">Ph.D Alumni</a></li>
              </ul>
            </li>
            <!-- Academics -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="academics" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'btech_courses' %}">B.Tech.</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'msc_courses' %}">M.Sc.</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'phd_courses' %}">Ph.D.</a></li>
              </ul>
            </li>
            <!-- Research -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="research" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'areas' %}">Areas</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'publications' %}">Recent Publication</a></li>
              </ul>
            </li>
            <!-- Admissions -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="admissions" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://jee.iitd.ac.in/" target="_blank">Undergraduate</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'postgraduate_admissions' %}">Postgraduate</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{% url 'doctoral_admissions' %}">Doctoral</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{% url 'faq_admissions' %}">FAQ</a></li>
              </ul>
            </li>
            <!-- Facilities -->
            <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'facilities' %}" id="facilities">Facilities<span class="sr-only">(current)</span></a></li>
            <!-- Events -->
            <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'events' %}" id="events">Events<span class="sr-only">(current)</span></a></li>
            <!-- Directory -->
            <li class="menu-item" style="margin-right:5px;"><a class="navigator" href="{% url 'directory' %}" id="directory">Directory<span class="sr-only">(current)</span></a></li>
            <!-- <li>
             <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">
              <span id="searchGlyph" class="glyphicon glyphicon-search"></span> <span class="hidden-sm hidden-md hidden-lg">Search</span>
            </a>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
        <!-- Search Bar -->
        <!-- <div class="navbar-form visible-xs-block" style="border: none; padding-top:0; padding-bottom:0; margin:0;">
          <form class="navbar-form navbar-left" style="margin:0;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." name="query">
              <input type="hidden" name="si" value="37493057">
              <input type="hidden" name="pid" value="r">
              <input type="hidden" name="n" value="0">
              <input type="hidden" name="_charset_" value="">
              <input type="hidden" name="bcd" value="&#247;">
              <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
            </div>
          </form>
        </div> -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <div class="container visible-sm-block" style="padding-top: 50px; ">
    <div class="jumbotron-fluid">
    </div>
  </div>
  <div class='container' vertical-align="center">
    <div class="jumbotron-fluid" id="content">
     {% block content %}
     {% endblock %}
   </div>
  </div>
  <!-- Footer -->
<div class="container">
  <footer class="footer-distributed" style="margin-top:0;">
			<div class="footer-left" id="iitp-logo">
				<a target="_blank" href="http://www.iitp.ac.in">
          <img class="img img-responsive" src="{% static 'images/iitp-logo.png' %}" alt="IIT Patna LOGO" width="110px">
        </a>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Indian Institute of Technology Patna, Bihta - 801103,</span> Patna, Bihar</p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about"><span style="font-size: 20px;">Connect with us:</span></p>
				<div class="footer-icons" style="margin-top: 20px;">
					<a href="https://www.facebook.com/iitp.ac.in/"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/iitpatna"><i class="fa fa-twitter"></i></a>
					<a href="https://plus.google.com/+iitpatna"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
      <p class="footer-company-name text-center">Copyright &copy; IIT Patna. All rights reserved. |
        <a href="{% url 'sitemap' %}" style="color: darkgray">SiteMap</a> |
        <a href="mailto:aagrawal207@gmail.com,kshitijsjauhri@gmail.com" style="color: darkgray">Webmasters</a></p>
		</footer>
  </div>
  <!-- Search Modal -->
  <div id="modalSearch" class="modal fade" role="dialog">
     <div class="modal-dialog" style="z-index:10000;">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Search Department of Chemistry IIT Patna</h4>
             </div>
             <div class="modal-body">
               <script>
                (function() {
                  var cx = '015680469555954337071:wvl-nzyym_g';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:search enableAutoComplete="true"></gcse:search>
              <!-- These styles fix CSE and Bootstrap 3 conflict -->
              <style type="text/css">
                  .reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block{
                      -webkit-box-sizing: content-box;
                      -moz-box-sizing: content-box;
                      box-sizing: content-box;
                  }
                  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button{
                      box-sizing: content-box;
                      line-height: normal;
                  }
              </style>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
  </div>
</body>
</html>
