{% extends "layout.html" %}

{% block title %}
<title> Admissions - Postgraduate | Department of Chemistry | IIT Patna</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <style>
        .page-title{font-size: 30px;padding: 20px;margin-top: 0;}
        .main{background-color: white;padding-bottom: 10px;}
    </style>

    <div style="height: 10px"></div>
    <div class="main">
        <h3 class="page-title text-center">Admission Notice-M.Tech.</h3>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
            <p>The advertisement of M.Tech. programmes is published in newspaper and uploaded on website in the month of March (normaly) every year.</p>
            <p>The specialization of M.Tech. programmes in which candidates can apply and other eligibility requirements e.g. GATE paper etc. are also mentioned in the same advertisement.</p>
            <p>For more information regarding M.Tech. admission, please keep visiting “Notice Board” section of the Institute website.</p>
            </div>
        </div>
    </div>
    <div style="height: 10px"></div>
{% endblock %}
